.App {
width: 100vw;
height: 100.5vh;
}

body {
  margin-top: -19px;
  padding: 0;
}

.Navbar {
  
  height: 100%;
  width: 250px;
  background-color: #2F4050;
}

.NavbarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.NavbarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande', 'Lucida Sans',Arial, sans-serif;
}
.NavbarList .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.NavbarList #active{
  background-color: #293846;

}
.row #icon{
  flex:30%;
  display:grid;
  place-items: center;

}

.row #title{
  flex:70%;
}
